absl-py==1.2.0
aiohttp==3.8.4
aiosignal==1.3.1
amqp==5.1.1
asn1crypto==0.24.0
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==17.4.0
Automat==0.6.0
billiard==3.6.4.0
blinker==1.4
cachetools==5.2.0
celery==5.2.7
certifi==2022.12.7
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloud-init==23.1.2
colorama==0.4.5
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.1.4
cycler==0.11.0
decorator==5.1.1
distro-info===0.18ubuntu0.18.04.1
drjit==0.4.4
easydict==1.10
exceptiongroup==1.2.0
executing==2.0.1
flatbuffers==23.5.26
flwr==1.0.0
fonttools==4.37.1
frozenlist==1.4.0
fsspec==2023.6.0
gast==0.4.0
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.60.1
h5py==3.7.0
httplib2==0.9.2
humanize==4.3.0
hyperlink==17.3.1
idna==3.3
importlib-metadata==4.12.0
importlib-resources==6.1.1
incremental==16.10.1
ipydatawidgets==4.3.2
ipython==8.21.0
ipywidgets==8.0.5
iterators==0.0.2
jedi==0.19.1
joblib==1.3.2
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
jupyterlab-widgets==3.0.5
keras==2.15.0
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.4.4
kombu==5.2.4
language-selector==0.1
libclang==14.0.6
lightning-utilities==0.9.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
meld==3.18.0
mitsuba==3.5.0
ml-dtypes==0.2.0
multidict==6.0.4
netifaces==0.10.4
numpy==1.26.4
oauthlib==3.2.1
openshot-qt==2.4.1
opt-einsum==3.3.0
packaging==21.3
PAM==0.4.2
pandas==2.0.3
parso==0.8.3
pexpect==4.9.0
Pillow==9.3.0
prometheus-client==0.14.1
prompt-toolkit==3.0.43
protobuf==4.25.2
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycrypto==2.6.1
pyfastnoisesimd @ git+https://github.com/robbmcleod/pyfastnoisesimd.git@40a3e68cadc06ca39ba5c21709e069ab8ae5eee5
Pygments==2.17.2
PyGObject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==3.0.9
pyserial==3.4
python-apt==1.6.5+ubuntu0.7
python-dateutil==2.8.2
python-debian==0.1.32
pythreejs==2.4.2
pytorch-lightning==2.0.5
pytz==2022.2.1
pyxdg==0.25
PyYAML==6.0
pyzmq==16.0.2
requests==2.28.1
requests-oauthlib==1.3.1
requests-unixsocket==0.1.5
rsa==4.9
scenario-generator @ git+https://github.com/mroftei/TerrainGeneration@6460fd9a2378eaff50c29c2b48b29fae28e64e45
scikit-learn==1.3.0
scipy==1.11.1
scour==0.36
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
service-identity==16.0.0
sionna==0.16.2
sionna-torch @ git+https://github.com/mroftei/SionnaTorch.git@46f38dfbc42a910c717f81c83a01a1ddea15008b
six==1.16.0
sos==4.3
ssh-import-id==5.7
stack-data==0.6.3
systemd-python==234
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
threadpoolctl==3.2.0
torch==1.12.0
torchmetrics==1.0.1
torchsummary==1.5.1
torchvision==0.13.0
tornado==6.2
tqdm==4.65.0
traitlets==5.14.1
traittypes==0.2.1
Twisted==17.9.0
typing_extensions==4.3.0
tzdata==2023.3
ubuntu-advantage-tools==27.2
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.12
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.2.3
widgetsnbextension==4.0.10
wrapt==1.14.1
xkit==0.0.0
yarl==1.9.2
zipp==3.8.1
zope.interface==4.3.2
